<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;z
        }

        .fixture-container {
            margin-top: 70px;
        }

        .fixture-table {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            overflow-y: auto;
            max-height: 600px; 
        }

        .fixture-table th, .fixture-table td {
            text-align: center;
            padding: 10px;
            border: 1px solid #dee2e6;
        }

        .fixture-table th {
            background-color: #343a40;
            color: #fff;
        }

        .date-column {
            font-weight: bold;
        }
    </style>
    <title>Predictive Play - Fixtures</title>
</head>
<body>
    {{>navbar}}
<div class="container fixture-container">
    <h2>Fixtures</h2>
    <div class="fixture-table">
        {{#if details}}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="date-column">Date</th>
                    <th>Matchs</th>
                </tr>
            </thead>
            <tbody>
                {{#each details}}
                <tr>
                    <td class="date-column">{{Date}}</td>
                    <td>{{MatchTeams}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
